In [10]:
import pandas as pd
df1 = pd.read_csv("C:/myPyCode/baby.csv",  encoding = 'cp949')
df1

,구분,구분명,연도별값(07),연도별값(08),연도별값(09),연도별값(10),연도별값(11),연도별값(12),연도별값(13),연도별값(14),연도별값(15),연도별값(16)
0,00,연도별,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
1,01,0세,93266,91526,93914,84066,83711,83005,75536,65389,58074,53687
2,02,출산율(%),1.02,1.01,1.06,0.97,0.98,1.00,0.94,0.84,0.76,0.72
3,03,연도별,588203,579444,581694,574126,559662,546824,530484,504604,471155,438969
4,04,영유아인구수(명)계,255247,251951,256528,249819,242963,232007,222627,206107,182786,165052
5,05,영유아인구수(명)영아(0~2)세,247386,250815,246456,239724,237084,240641,230812,223111,211412,204886
6,05_1,NaN,85570,76678,78710,84583,79615,74176,77045,75386,76957,69031
7,06,영유아인구수(명)유아(3~5)세,199651,208985,234597,238581,240049,235089,233785,232424,224714,215551
8,07,어린이집계수,33.9%,36.1%,40.3%,41.6%,42.9%,43.0%,44.1%,46.1%,47.7%,49.1%
9,08,어린이집계비율,104669,111495,134174,136696,139314,135338,131081,132771,129117,122398
10,09,어린이집영아(0~2)세,94982,97490,100423,101885,100735,99751,102704,99653,95597,93153
11,10,어린이집유아(3~5)세,78644,81203,87969,92369,91169,91359,91016,88981,85194,77978
12,11,유치원(3~5)세수,13.4%,14.0%,15.1%,16.1%,16.3%,16.7%,17.2%,17.6%,18.1%,17.8%
13,12,유지원(3~5)세비율,309908,289256,259128,243176,228444,220376,205683,183199,161247,145440
14,13,시설미이용(0~5)세수,52.7%,49.9%,44.5%,42.4%,40.8%,40.3%,38.8%,36.3%,34.2%,33.1%